<template>
  <section class="hero is-primary welcome is-small">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">Bienvenido</h1>
        <h2 class="subtitle">Dashboard</h2>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  
}
</script>